<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<a href="/board/write">글쓰기</a>
<table border="1">
    <tr>
        <td>번호</td>
        <td>제목</td>
        <td>작성자</td>
        <td>날짜</td>
    </tr>
    <%
    for(var i = (page * page_num) - page_num; i < (page * page_num); i++) {
    if(i >= rows.length){
        break;
    }else{
        var data = rows[i];
    %>
    <tr>
        <td><%= i + 1 %></td>
        <td><%= data.title %></td>
        <td><%= data.writer %></td>
        <td><%= data.date %></td>
    </tr>
    <% }
    }
    %>
    <tr>
        <td colspan="4">
            <%
            for(var j = 0; j < Math.ceil(rows.length / page_num); j++){
            %>
            [<a href="/board?page=<%= j + 1 %>"><%= j + 1 %></a>]
            <%
            }
            %>
        </td>
    </tr>
</table>
</body>
</html>
